body {
  cursor: url("img/cursor.png"), auto;
   background-color: #9cceff !important;
}
/* RESET SUAVE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FUENTE PERSONALIZADA */
@font-face {
  font-family: "AppleGaramondLight-Italic" !important;
  src: url("fonts/AppleGaramondLight-Italic.woff2") format("woff2");
}

body {
  font-family: "AppleGaramondLight-Italic" !important;
 
  color: #fe0000 !important;
}

/* SECCIONES */
.section {
  min-height: 10vh;
  display:block;
  align-items: center;
}

/* TITULOS GRANDES */
h1 {
  font-size:  clamp(4rem, 12vw, 12rem) !important;
  font-weight: 1400;
  letter-spacing: -0.02em;
  line-height: 0.9;
}

/* OPCIONAL: efecto hover sutil */
h1:hover {
  color:rgb(0, 0, 0);
  cursor: url("img/cursor.png"), auto;
   font-style: italic;
  text-decoration: underline;
}

.section-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
