body {
  padding-top: 8rem;
  cursor: url("img/cursor.png"), auto;
   background-color: #9cceff !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.logo-header {
  display: flex;
  justify-content: center;
  position: fixed;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.logo {
  width: clamp(120px, 12vw, 200px);
  height: auto;
  display: block;
  position: fixed;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.logo:hover{
   color:rgb(0, 0, 0);
  cursor: url("img/cursor2.png"), auto;
}
 

@font-face {
  font-family: "AppleGaramondLight-Italic" !important;
  src: url("fonts/AppleGaramondLight-Italic.woff2") format("woff2");
}

body {
  font-family: "AppleGaramondLight-Italic" !important;
 
  color: #fe0000 !important;
}

.section {
  min-height: 10vh;
  display:block;
  align-items: center;
}

h1 {
  font-size:  clamp(4rem, 12vw, 12rem) !important;
  font-weight: 1400;
  letter-spacing: -0.02em;
  line-height: 0.9;
}

h1:hover {
  color:rgb(0, 0, 0);
  cursor: url("img/cursor2.png"), auto;
   font-style: italic;
  text-decoration: underline;
}

.section-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.photo-column {
  display: flex;
  flex-direction: column;
  gap: 8rem; 
  font-size: 2rem;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.photo-container {
  position: relative;        
  margin-bottom: 6rem;       
}

.photo {
  width: clamp(200px, 40vw, 400px); 
  height: auto;
  display: block;
  margin: 0 auto;             
}


@font-face {
  font-family: "Helvetica-Narrow-Roman" !important;
  src: url("fonts/Helvetica-Narrow-Roman.woff") format("woff");
}



